html, body {
    background-color:lightblue;
  }

  nav{
    background-color: steelblue;
    }
   
  
    main{
      background-color: rgb(84, 156, 192);
    }
  
    a{
      color:white;
    }
  

  .container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: rgb(14, 73, 132);
    padding: 5px;
    gap: 5px;  
  }
  .container div {
    background-color: #000235;
    color: #000;
    padding: 10px;
    font-size: 30px;
    text-align: center;
  }
  
  
  
  
  