html, body {
    background-color:lightblue;
  }

  nav{
  background-color: steelblue;
  }
 

  main{
    background-color: rgb(84, 156, 192);
  }

  #myheader{
background-color: aliceblue;
color: black;
padding: 40px;
text-align: center;
  }

  a{
    color:white;
  }

  .container div.navbar {
    display: grid;
    grid-template-columns: 80px, 200px, auto;
  }

  .container div.information {
    display: grid;
  grid-template-columns: auto auto auto;
  }

