html, body {
    background-color:lightblue;
  }

  nav{
  background-color: steelblue;
  }
 

  main{
    background-color: rgb(84, 156, 192);
  }

  #myheader{
background-color: aliceblue;
color: black;
padding: 40px;
text-align: center;
  }

  a{
    color:white;
  }

  .container{
    display:grid;
    grid-template-columns: auto auto auto;
  }

  .container div.navbar {
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr ;
    gap: 3px;
    background-color: rgb(14, 67, 120);
    padding: 5px;
  }

  .container div.information {
  grid-template-columns: 1fr, 1fr, 1fr;
  }

  .container div.list {
grid-template-columns: 3fr, 3fr, 3fr;
  gap: 3px;
  background-color: rgb(14, 67, 120);
  padding: 5px;
  }
 

